{% extends 'base.html.twig' %}
{% block title %}Contact Us | Megs Art{% endblock %}
{% block pagemenu %}
    <div class="page">
        <ul class="page-menu">
            <li><a class="darkgrey" href="/">Home</a></li>
            <span class="grey">»</span>
            <li><a class="grey"> {{ app.request.attributes.get('_route') }}</a></li>
        </ul>
    </div>    
{% endblock %}
{% block body %}
    <div id="content-top">
        <div id="content-desc">
            <h1 class="content-title">Contact Us</h1>
            <p class="content-description">If you like my art and want to buy some,</p>
            <p class="content-description">you can contact us by filling in the form below and clicking on "Submit" button.</p>   
        </div>
    </div>
    <div id="content">
        <div id="content-left-side">
            <div class="post">
                <form class="custom-form">
                    <input type="text" placeholder="Name"/>
                    <input type="text" placeholder="Email Address"/>
                    <input type="text" placeholder="Subject" {% if id != null %}value="Buy paintings with art number {{id}}"{% endif %}/>
                    <textarea rows="10" cols="40" placeholder="Message"></textarea>
                    <button type="submit">Submit</button>
                    
                </form>
            </div>
        </div>
        <!-- end #left-area -->
    {% block rightside %}
        {{ render(controller('AppBundle:Arts:_rightSide')) }}
    {% endblock %}
    </div>
{%endblock%}


