{% extends 'base.html.twig' %}
{% block title %}Edit | Megs Art{% endblock %}
{% block pagemenu %}
    <div id="page">
        <ul id="page-menu">
            <li><a class="darkgrey" href="/">Home</a></li>
            <span class="grey">»</span>
            <li><a class="grey"> {{ app.request.attributes.get('_route') }}</a></li>
        </ul>
    </div>    
{% endblock %}
{% block body %}
{{form_start(form)}}
{{form_widget(form)}}

<button type="submit">Save</button>
{{form_end(form)}}
{%endblock%}

